target/
.c2rust-port.local.toml
examples/local-jake.toml
port-bench-data/
.c2rust-port/bench/
*.profraw
*.profdata
flamegraph.svg
callgrind.out.*
perf.data*
*.gcda
*.gcno
*.gcov
lcov.info
reference/upstream/
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.bam
*.sam
